.App {
  text-align: center;
  position: relative;
}

.emotions {
  width: 90%;
  margin-top: 80px;
  margin-left: 5%;
  padding-bottom: 140px;
}

@media screen and (min-width:600px) {
  .emotions {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.buttons {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 2;
  border-radius: 10px 0 0 0;
  border-top: 1px solid #b0c9d4;
  border-left: 1px solid #b0c9d4;
  display: flex;
  flex-direction: row-reverse;
  background-color: #d5e1e8;
}

.iconButton {
  color: #35495A;
}

.iconStyle {
  color: #35495A;
}

.text-field {
  color: #35495A;
}