.emotion-container{
    width: calc(100%-40px);
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #d5e1e8;
}

.emotion-selected {
   background-color: #b0c9d4; 
}

.emotion-name {
    font-size: 20px;
    color: #33495D;
}